@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic,700italic);
@import url(../vendor/bootstrap/dist/css/bootstrap.css);

body {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 18px;
}

html, body {
  background: #111;
  color: #fff;
  height: 100%;
  cursor: default;
  background-image: url(../images/mesanbg-dark.jpg);
  background-size: cover;
}

.app, .header, .main, .highscore {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app {
  height: 100%;
  float: left;
  border-right: 1px solid #000;
  width: calc(100% - 300px);
}

.header {
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid #000;
  background: #1b1b1e;
  position: relative;
}

.header:after {
  clear: both;
}

.app-title {
  margin: 0;
  float: left;
  font-size: 1em;
  line-height: 1em;
}

.app-console {
  display: block;
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  margin: 0;
  line-height: 1em;
  font-size: .8em;
  text-align: right;
  overflow: hidden;
  max-height: 40px;
  background: rgba(26, 27, 30, .7);
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
  border-left: 1px solid #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app-console:hover {
  max-height: 295px;
  overflow-y: scroll;
}

.app-console-entry {
  padding: 13px;
  height: 40px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #000;
  -webkit-animation: consoleEntry .6s ease-out;
  -animation: consoleEntry .6s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app-console-entry:hover {
  background: rgba(255, 255, 255, .1);
}

.app-console-name {
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.app-console-tag {
  color: rgba(255, 255, 255, 0.4);
}

.app-console-type-info {
  color: rgba(99, 162, 255, 0.80);
}

.app-console-type-success {
  color: rgba(110, 255, 111, 0.80);
}

.app-console-type-warning {
  color: rgba(255, 140, 145, 0.8)
}

.main {
  padding: 3%;
}

.highscore {
  width: 300px;
  float: right;
}

.letter-grid {
  width: 100%;
  height: 400px;
}

.letter-grid td {
  text-align: center;
  width: 10%;
  font-size: 38px;
  font-weight: 300;
  color: #999;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.letter-grid td:hover {
  color: #fff;
}

.word-suggestion {
  width: 100%;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 2px #000;
}

.word-suggestion:focus {
  border: 1px solid rgba(255, 255, 255, .1);
  box-shadow: 0 0 10px #5776ff;
}

::-webkit-input-placeholder {
  color:#666;
  text-shadow: 0 -2px rgba(0, 0, 0, .3);
}

::-moz-placeholder {
  color:#666;
  text-shadow: 0 -2px rgba(0, 0, 0, .3);
}

:-ms-input-placeholder {
  color:#666;
  text-shadow: 0 -2px rgba(0, 0, 0, .3);
}

input:-moz-placeholder {
  color:#666;
  text-shadow: 0 -2px rgba(0, 0, 0, .3);
}

.remaining-time {
  display: block;
}

.remaining-time-value {
  font-size: 2.5em;
  display: block;
  color: #fff;
}

.remaining-time-label {
  font-size: 1em;
  font-weight: 300;
  color: #777;
}

.remaining-time-critical {
  color: #ff666b;
  text-shadow: 0 0 4px red;
}

@-webkit-keyframes consoleEntry {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
}