.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-light {
  font-weight: 100;
}

.input {
  background-color: rgba(202, 202, 202, 0.2);
  border: 1px solid black;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
}

.anim-fade-in {
  -webkit-animation: fadeIn 1s linear;
  animation: fadeIn 1s linear;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1 }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1 }
}