.remaining-time {
  display: block;
}

.remaining-time-value {
  font-size: 2.5em;
  display: block;
  color: #fff;
}

.remaining-time-label {
  font-size: 1em;
  font-weight: 300;
  color: #777;
}

.remaining-time-critical {
  color: #ff666b;
  text-shadow: 0 0 4px red;
}